@import url('https://fonts.cdnfonts.com/css/satoshi');
@import 'tailwindcss';
:root{
  --primaryColor--:#31c1de;
  --bgColor--:#030606;
  --accentColor-:#71c7ae;
  --gradient-start: rgba(49, 193, 222, 1);
  --gradient-end: rgba(113, 199, 174, 1);
  --gradient1--: linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  --textColor--:#FFFFFF;
}

@theme {
  --color-primary-500: var(--primaryColor--);
  --accent: var(--accentColor-);
  /* --gradient: var(--gradient1--); */
  --gradient: 90deg, var(--gradient-start) 0%, var(--gradient-end) 100%;
  --default: var(--textColor--);
  --shadow-primary: 0px 0px 10px rgba(78, 142, 255, 0.6),
                    0px 0px 15px rgba(78, 142, 255, 0.4),
                    0px 0px 20px rgba(78, 142, 255, 0.2);
  --ease-primary: cubic-bezier(0.77, 0, 0.175, 1);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

*{
  box-sizing: border-box;
}

html{
  background-color:var(--bgColor--) ;
  color: var(--textColor--);
  overflow: hidden;
  font-family: 'Satoshi', sans-serif;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


::-webkit-scrollbar-track {
  background: transparent;
}


::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(49, 193, 222, 1), rgba(113, 199, 174, 1));
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition:  0.3s ease;

}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, rgba(49, 193, 222, 1), rgba(113, 199, 174, 1));
}


::-webkit-scrollbar-corner {
  background: transparent;
}


