@import 'tailwindcss';


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

*{
  box-sizing: border-box;
}

html{
  background-color: #100E17;
overflow: hidden;

}